@font-face{
	font-family: Ethno;
	src: url('/static/fonts/fuente.ttf');
}
@font-face{
	font-family: Gothic;
	src: url('/static/fonts/gothic.ttf');
}
body {
	font-family: Gothic;
	background: #E6E6E6;
}
hr{
	border: 0; 
	border-top: 1px solid #971D1D;
}
a:hover{
	text-decoration: none;
}
.navbar-default {
	background: #01004E;
}
.navbar {
	border: none;
	min-height: 80px;
}
.nav>li {
	margin-top: 24px;
	padding-right: 5px;;
}
.btn-default {
	background: #01026B;
	border: 1px;
	color:white;
	text-shadow: none;
}
.btn {
	border-radius: 2px;
	font-size: 16px;
}
.navbar-default .navbar-a>li>a:hover {
	background: #06003C;
	color: white;
}
.container-fluid {
	margin-top: 80px;
	background: #06003C;
	height: 40px;
}
.menu{
	margin-top: -24px;
	font-size: 17px;
	font-weight: bold;
}
.menu>li>a {
	color: white;
	height: 40px; 
}
.menu>li{
	height: 40px;
}
.navbar-default .navbar-a>li>a {
	height: 34px;
	padding-top: 8px;
	color: white;
	margin-top: 8px; 
}
.menu>li:hover {
	background: #01004E; 
}
.menu>li:last-child{
	padding-right: 0;
}
.menu>li>a:hover, .menu>li:hover {
	background: #01004E;
}
.url_activa{
	background: #01004E;
}
.menu-search{
	margin-top: 5px;	
}
.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;	
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}
.foot-menu{
	background: #01004E;
	padding-top: 8px;
	font-size: 18px;
}
.foot-menu a{
	color: white;
}

.carousel-inner > .item > img {
	top: 0;
	left: 0;
	min-width: 100%;
	height: 340px;
	max-height: 340px;
 }

 .label-producto{
	font-size: 30px;
	font-family: Ethno;
	color: white;
	background: #01004E;
	padding: 7px 27px;
	margin-left: -10px;
}
.menu-productos>li {
	background: #013A6F;
	border-radius: 0px;
	color: white;
	font-size: 16px;
}
.menu-productos>li>a{
	background: #013A6F;
	border-radius: 0px;
	color: white;
}
.menu-productos>li:not(:first-child){
	padding-left: 20px;
	border-bottom: 1px solid rgb(42, 67, 119);
}
.menu-productos>li:last-child{
	border-bottom: none;
}
.menu-productos>li:not(:first-child):hover, .menu-productos>li:not(:first-child)>a:hover{
	opacity: 0.9;
	background: #013A6F;
}
.menu-productos>li:hover:first-child, .menu-productos>li:first-child, .menu-productos>li:first-child>a{
	background: #01004E;
	cursor: default;
	font-weight: bold;
	border-radius: 0px;
}
.nav-stacked>li+li{
	margin-top: 0px;
}

/* Menu Productos */

.list-menu{
	width: 100%;
	padding:0;
	list-style:none;
	font-size:16px;
	margin-top: -1px;
}
.list-menu li:not(:first-child) a{
	padding-left: 40px;
}
.list-menu li a{
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	background:rgb(1,58,111);
	text-decoration:none;
	color:rgb(255,255,255);
	text-shadow: 0px 0px 12px rgba(0,0,0,0.5);
	filter: dropshadow(color=#000, offx=1, offy=0);
	padding:10px;
	padding-left:20px;
}
.list-menu li .prod, .list-menu li .prod:hover{
	background: #01004E;
	cursor: default;
	border: none;
	font-size: 24px;
}
 
.list-menu li ul li a{
	font-size:15px;
	color:rgb(71,104,157);
	text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
}
 
.list-menu li a:hover{
	background:rgb(1,58,111);
	-moz-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
	/*border: solid 1px rgba(0,0,0,0.3);*/
}
 
.list-menu ul{
	margin:0;
	padding:0;
	list-style:none;
	height:0;
	overflow: hidden;
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}
 
.list-menu li ul{
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}
 
.list-menu li:hover ul{
	height: 120px;
	overflow-y:auto;
	overflow-x:hidden;
	background:rgba(108,151,176,0.5);
}
 
.list-menu ul li a{
	background:rgb(250,250,250);
}
 
.list-menu ul li a:hover {
	color: rgb(255,255,255);
	-moz-transition: color 0.4s ease;
	-webkit-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.7);
}

/* Fin Menu */

.inicio_productos img{
	width: 200px;
	height: 200px;
}
.navbar-btngroup{
	margin-top: 8px;
	color: white;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	background: #06003C;
	color: white;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.datosCliente{
	padding: 45px 15px 15px;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}
.footer{
	margin-top: 0px;
	height: 120px;
}
.footer img{
	margin-top: 33px;
}
.informacion{
	margin-top: 41px;
	color: #fff;
	font-size: 16px;
}
.info_index{
	padding: 15px 15px 15px;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background: white;
}
.info_index>div>div>center>span:first-child{
	font-weight: bold;
	color: black;
	border-bottom: 1px solid black;
	font-size: 15px;
}


.carousel,.item,.active {
	height:340px;
}
.fill {
	background-position: center;
	background-size: cover; 
	height: 340px;
}
.carousel-inner {
	height:100%;
}
.carousel-control {
	top: 49%;
	left: 5px;
	width: 50px;
	height: 50px;
	margin-top: -20px;
	font-size: 100px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: transparent;
	border: 0;
}
.light-color, .light-color a {
	color: #f7f7f7;
	text-decoration: none;
}

.blocky {
	margin-left:8%;
	margin-top:17%;
}
.blocky h4, .blocky h1 {
	background-color: rgba(255, 0, 0, 0.74);
	display: inline;
	text-transform: none;
	font-weight: 800;
	color: white;
	line-height: 52px;
}
.blocky h4 span, .blocky h1 span {
	padding: 20px;
	color: #fff;
}
.blocky h4 {
	background-color: rgba(1, 0, 78, 0.74);
	margin-top: 7%;
	margin-left: -25%;
}

.articulo {
	list-style: none;
	padding-left: 0px;
}
.articulo li {
	margin-bottom: 5px;
	font-size: 15px;
}
.color {
	border: 1px solid black;
	border-radius: 2px;
	display: inline-block;
	height: 17px;
	width: 17px;
}
.articulo_descripcion {
	font-size: 16px;
}

.container{
	max-width: none !important;
	width: 970px;
}
/*
.foot-menu{
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 120px;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}*/