{% extends 'base.html' %}

{% block titulo %}
	About Us
{% endblock %}

{% block contenido %}

	<span class="label-producto">ABOUT US</span>

	<p>&nbsp;</p>
	<div class="datosCliente">
		{{cont.aboutus|safe}}
	</div>


{% endblock %}