{% extends 'base.html' %}

{% block titulo %}
	{{articulo.nombre}}
{% endblock %}

{% block contenido %}

	<p>&nbsp;</p>

	<div class="row">
		<div class="col-md-6">
			<center>
				{% if imagenes.count > 0 %}
					<img id="imagen_full" width="360" src="{{MEDIA_URL}}{{imagenes.0.imagen}}" class="img-thumbnail">
				{% endif %}
				<center id="imagen_thum">
					{% for img in imagenes %}
						<img width="100" src="{{MEDIA_URL}}{{img.imagen}}" class="img-thumbnail" style="margin-top: 3px;" />
					{% endfor %}
				</center>
			</center>
			<span style="font-size:1.5em; font-weight:bold;">Descripcion:</span>
			<hr />
			<div class="articulo_descripcion">
				{{articulo.descripcion|safe}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">				
				<div class="col-md-2">					
				</div>
				<div class="col-md-10">
						<h2 style="color: #ba1a1a;"><b>{{articulo.nombre}}</b></h2>
						<ul class="articulo">
							<li><b>Familia:</b> {{articulo.id_categoria}}</li>
							{% if articulo.optica %}
								<li><b>Optica:</b> {{articulo.optica}}</li>
							{% endif %}
							{% if articulo.led_color %}
								<li><b>Led Color:</b> <div class="color" style="background: {{articulo.led_color}};">&nbsp;</div></li>
							{% endif %}
							{% if articulo.finish_color %}
								<li><b>Finish Color:</b> <div class="color" style="background: {{articulo.finish_color}};">&nbsp;</div></li>
							{% endif %}
							{% if articulo.tipo_montaje %}
								<li><b>Montaje:</b> {{articulo.tipo_montaje}}</li>
							{% endif %}
							{% if articulo.dimension %}
								<li><b>Dimensiones:</b> {{articulo.dimension}}</li>
							{% endif %}
						</ul>
						<hr />
						<form method="POST">
							{% csrf_token %}
							<input type="hidden" name="id_articulo" value="{{articulo.id}}" />
							{% if articulo.descuento > 0 %}
								<h3 style="color: #ba1a1a;">Precio: ${{descuento}}</h3>
								<h4 style="color: gray;">
									<span style="text-decoration: line-through;">${{articulo.precio}}</span> 
									{{articulo.descuento}}% de descuento
								</h4>
							{% else %}
								<h3 style="color: #ba1a1a;">Precio: ${{articulo.precio}}</h3>
							{% endif %}
							<br>
							<div class="row">								
								<div class="col-xs-2">
									<label>Cantidad</label>
									{% if articulo.inventario > 0 %}
										<input name="cantidad" class="form-control" type="number" value="1" min="1" max="{{articulo.inventario}}" required />
									{% else %}
										<span class="label label-danger">No hay en existencia, Si deseas hacer sobrepedido <a href="/contacto/">Click Aqui</a></span><br>
									{% endif %}
									<br />
								</div>
								<div class="col-xs-6">
									<label>&nbsp;</label>
									<span class="label label-default">Max: {{articulo.inventario}}</span>
								</div>
							</div>
							<div class="form-inline">
								{% if articulo.inventario > 0 %}
									<div class="form-group">
										<input type="submit" class="btn btn-danger" value="Agregar al carrito" />
									</div>
									<br /><br />
								{% endif %}
							</div>
							<div class="fb-like" data-href="{{request.build_absolute_uri }}" 
								data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
							</div>
							{% if articulo_agregado %}
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Cerrar</span>
									</button>
									<strong>Articulo agregado al carrito!</strong>
								</div>
							{% endif %}
							{% if error %}
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Cerrar</span>
									</button>
									<strong>{{error}}</strong>
								</div>
							{% endif %}
						</form>
						<hr />
						<span style="font-size:1.5em; font-weight:bold;">Especificaciones:</span>
						<p>
							{{articulo.especificaciones|safe}}
						</p>
						<span style="font-size:1.5em; font-weight:bold;">Caracteristicas:</span>
						<p>
							{{articulo.caracteristicas|safe}}
						</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
	$('#imagen_thum>img').on('click',function(){
		var imagen = $(this).attr('src');
		$('#imagen_full').attr('src', imagen);
		$('#imagen_thum>img').css('border', '0px');
		$(this).css('border', '1px solid red');
	});
	$('#imagen_thum>img:first-child').css('border', '1px solid red');
	window.fbAsyncInit = function() {
		var page_like_or_unlike_callback = function(url, html_element) {
			$.get('/votos/{{articulo.id}}/', function(){});
		}

		FB.Event.subscribe('edge.create', page_like_or_unlike_callback);
		FB.Event.subscribe('edge.remove', page_like_or_unlike_callback);
	};

	</script>
{% endblock %}