{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="es">
	<head>
		<meta charset="utf-8">
		<title>Aurora Mexico - {% block titulo %}{% endblock %}</title>
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/custom.css">
		<script src="{{STATIC_URL}}js/jquery.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/prefixfree.min.js"></script>
	</head>

	<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=691416274241411&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

		<nav id="navegacion" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbars">
						<span class="sr-only">Nav</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="{{STATIC_URL}}images/logo.png"></a>
				</div>
				<div class="collapse navbar-collapse" id="navbars">
					<ul class="nav navbar-nav navbar-right navbar-a">
						<li>
							{% if not user.is_authenticated %}
								<a href="/login/" class="btn btn-default">
									<span class="glyphicon glyphicon-user"></span> Entrar
								</a>
							{% else %}
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle navbar-btngroup" data-toggle="dropdown">
										<span class="glyphicon glyphicon-user"></span> 
										Bienvenido {{user.username}} 
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/mi-cuenta/">Mi Cuenta</a></li>
										<li class="divider"></li>
										<li><a href="/logout/">Salir</a></li>
									</ul>
								</div>
							{% endif %}
						</li>
						<li>
							<a href="/carrito/" class="btn btn-default">
								<span class="glyphicon glyphicon-shopping-cart"></span> <span id="carrito">{{carrito_items}}</span> Items
							</a>
						</li>
					</ul>					
				</div>
			</div>
		</nav>
		<div class="container-fluid" id="menu">
			<div class="container">
				<ul class="nav navbar-nav menu">
					<li><a href="/">HOME</a></li>
					<li class="{{url_active_pro}}">
						<a class="{{url_active_pro}}" href="/productos/">PRODUCTOS</a>
					</li>
					<li class="{{url_active_may}}">
						<a class="{{url_active_may}}" href="/distribuidor/">DISTRIBUIDOR</a>
					</li>
					<li class="{{url_active_cont}}">
						<a class="{{url_active_cont}}" href="/contacto/">CONTACTO</a>
					</li>
					<li class="{{url_active_faqs}}">
						<a class="{{url_active_faqs}}" href="/faqs/">FAQs</a>
					</li>
					<li class="{{url_active_abo}}">
						<a class="{{url_active_abo}}" href="/about/">ABOUT US</a>
					</li>
				</ul>
				<form class="navbar-form navbar-right menu-search" role="search" method="GET" action="/buscar/">
					<div class="form-group">
						<div class="right-inner-addon">
							<i class="glyphicon glyphicon-search"></i>
							<input id="btnbuscar" type="search" class="form-control input-sm" placeholder="Buscar" />
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="container" id="contenido">
			<p>&nbsp;</p>
			{% block contenido %}
			{% endblock %}
		</div>
	
		<div class="container-fluid foot-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<center>
							{% if user.is_authenticated %}
								<a href="/login/">
									<a href="/cuenta/">CUENTA</a>
								</a>
							{% else %}
								<a href="/registro/">
									REGISTRARSE
								</a>
							{% endif %}
						</center>
					</div>
					<div class="col-md-4">
						<!--<center>
							<a href="/">SECCIONES</a>
						</center>-->
					</div>
					<div class="col-md-4">
						<center>
							<a href="/contacto/">DUDAS/COMENTARIOS</a>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid footer">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<div class="informacion">
							<span>Aurora Mexico</span>
							<br />
							<span style="font-size: 13px;margin-left: 8px;">
								Tel: <a href="tel:{{cont.telefono}}">{{cont.telefono}}</a>
							</span>
						</div>
					</div>
					<div class="col-md-4">
						<center>
							{% if cont.facebook %}
								<a href="{{cont.facebook}}"><img width="40" src="{{STATIC_URL}}images/fb.gif" /></a>
							{% else %}
								<a href="#"><img width="40" src="{{STATIC_URL}}images/fb.gif" /></a>
							{% endif %}
							{% if cont.twitter %}
								<a href="{{cont.twitter}}"><img  width="45" src="{{STATIC_URL}}images/twitter.png" /></a>
							{% else %}
								<a href="#"><img  width="45" src="{{STATIC_URL}}images/twitter.png" /></a>
							{% endif %}
						</center>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$('#btnbuscar').keypress(function (e){
				if(e.which == 13)
				{
					window.location = '/buscar/' + $('#btnbuscar').val();
					e.preventDefault();
				}
			});

			$(document).ready(function() 
			{ 
				positionFooter();				
				function positionFooter() 
				{
						var docHeight = $(window).height();
						var footerHeight = $('.foot-menu').height();
						var footerTop = $('.foot-menu').position().top + footerHeight;
						
						if (footerTop < docHeight) {
						 	$('.foot-menu').css('margin-top', (docHeight - footerTop - 128) + 'px');
						}					
				}						
			});
		</script>
		{% block scripts %}{% endblock %}

	</body>
</html>
