{% extends 'base.html' %}

{% block titulo %}
	Resultados
{% endblock %}

{% block contenido %}

	<span class="label-producto">PRODUCTOS</span>

	<p>&nbsp;</p>

	<div class="row">
		{% include 'menu.html' %}
		<div class="col-md-8">
			<div class="row inicio_productos">
				{% for art in articulos %}
					<div class="col-md-4">
						<center>
							<a href="/articulo/{{art.id}}/{{art.nombre}}/">
								<img class="img-thumbnail" src="{{MEDIA_URL}}{{art.imagenes__imagen}}">
								<h4>{{art.nombre}}</h4>
							</a>
						</center>
						<br />
					</div>
				{% endfor %}
			</div>
			<center>
			</center>
		</div>
	</div>

{% endblock %}
