{% extends 'base.html' %}

{% block titulo %}
	Carrito
{% endblock %}

{% block contenido %}

	<span class="label-producto">CARRITO</span>

	<p>&nbsp;</p>
	<form action="/pagar/">
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>&nbsp;</th><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Subtotal</th><th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for art in articulos %}
						<tr class="{{art.clase}}">
							<td><img width="100" class="img-thumbnail" src="{{MEDIA_URL}}{{art.imagen}}" /></td>
							<td><a href="/articulo/{{art.id}}/{{art.nombre}}/">{{art.nombre}}</a></td>
							<td>${{art.precio}}</td>
							<td>{{art.cantidad}}</td>
							<td>${{art.total}}</td>
							<td><input id="{{art.id}}" type="button" class="btn btn-danger" name="eliminar" value="Eliminar" /></td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="5"><b>Total:</b></td>
						<td><b>${{total}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
		{% if articulos|length > 0 %}
			<div>			
				<a href="/pagar/" class="btn btn-success">Continuar a pagar</a>
			</div>
		{% endif %}
	</form>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('input[name="eliminar"]').on('click', function (){
			$.get('/eliminar/' + $(this).attr('id') + '/', function(){
				window.location.reload();
			});
		});
	</script>
{% endblock %}