{% extends 'base.html' %}

{% block titulo %}
	{{cat}}
{% endblock %}

{% block contenido %}

	<span class="label-producto">PRODUCTOS</span>

	<p>&nbsp;</p>

	<div class="row">
		{% include 'menu.html' %}
		<div class="col-md-8">
			<div class="row inicio_productos">
				{% for art in articulos %}
					<div class="col-md-4">
						<center>
							<a href="/articulo/{{art.id}}/{{art.nombre}}/">
								<img class="img-thumbnail" src="{{MEDIA_URL}}{{art.imagenes__imagen}}">
								<h5>{{art.nombre}}</h5>
							</a>
						</center>
						<br />
					</div>
				{% endfor %}
			</div>
			<center>
				{% if pages|length > 1 and pages %}
					<ul class="pagination">			
						<li><a href="{{url}}1/">&laquo;</a></li>
						{% for i in pages %}
							<li><a href="{{url}}{{i|add:1}}/">{{i|add:1}}</a></li>
						{% endfor %}
						<li><a href="{{url}}{{pages|length}}/">&raquo;</a></li>
					</ul>
				{% endif %}
			</center>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.pagination>li:nth-child({{actual|add:1}})').addClass('active');
		if( {{actual}} == 1 )
		{
			$('.pagination>li:first-child').addClass('disabled');
		}else if( {{actual}} == {{pages|length}} ){
			$('.pagination>li:last-child').addClass('disabled');
		}
	</script>
{% endblock %}