{% extends 'base.html' %}

{% block titulo %}
	Mi Cuenta
{% endblock %}

{% block contenido %}

	<span class="label-producto">MI CUENTA</span>

	<p>&nbsp;</p>

	<div class="row">
		<div class="col-md-3">
			<ul class="list-menu">
 				<li><a href="#" class="prod">Informaci&oacute;n</a></li>
 				<li>
 					<a href="/mi-cuenta/">Compras</a>
 				</li>
 				<li>
 					<a href="/mi-cuenta/configuracion/">Configuracion</a>
 				</li>
 			</ul>
		</div>
		<div class="col-md-8">
			{% if actualizado %}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Cerrar</span>
					</button>
					<strong>Informacion Actualizada!</strong>
				</div>
			{% endif %}
			<h3>Datos Personales</h3>
			<form id="datosP" role="form" class="datosCliente" style="padding-top: 14px;" method="POST" action="/mi-cuenta/actualizar/personal/">
				{% csrf_token %}
				<div class="form-inline">
					<div class="form-group">
						<label>Usuario</label>
						<input type="text" class="form-control" value="{{usuario}}" readonly/>
					</div>
				</div>
				<br />
				<div class="form-group">
					<label>Nombre(s)</label>
					<input type="text" name="nombre" class="form-control" placeholder="Nombre(s)" value="{{nombre}}" required/>
				</div>
				<div class="form-group">
					<label>Apellidos</label>
					<input type="text" name="apellido" class="form-control" placeholder="Apellidos" value="{{apellido}}" required>
				</div>
				<div class="form-inline">
					<div class="form-group">
						<label>Contraseña</label>
						<input name="password1" type="password" minlength="4" oninput="check();" class="form-control" placeholder="Contraseña"/>
					</div>
					<div class="form-group">
						<label>Repetir Contraseña</label>
						<input name="password2" id="password2" minlength="4" oninput="check();" type="password" class="form-control" placeholder="Repetir Contraseña"/>
					</div>
				</div>
				<br />
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}" required>
				</div>
				<div class="form-group">
					<label>Telefono</label>
					<input type="tel" name="telefono" class="form-control" placeholder="Telefono" value="{{telefono}}">
				</div>
				<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-ok-circle"></span> Actualizar</button>
			</form>
			<h3>Direccion</h3>
			<form role="form" class="datosCliente" style="padding-top: 14px;"  method="POST" action="/mi-cuenta/actualizar/direccion/">			{% csrf_token %}
				<div class="form-group">
					<label>Direccion</label>
					<input type="text" name="calle" class="form-control" placeholder="Calle" value="{{calle}}" required>
				</div>				
				<div class="form-inline">
					<div class="form-group">
						<input type="number" name="no_exterior" class="form-control" placeholder="Numero Exterior" value="{{no_exterior}}" required>
					</div>
					<div class="form-group">
						<input type="number" name="no_interior" class="form-control" placeholder="Numero Interior" value="{{no_interior}}">
					</div>
				</div>
				<div class="form-inline">
					<div class="form-group">
						<input type="text" name="ciudad" class="form-control" placeholder="Ciudad" value="{{ciudad}}" required>
					</div>
					<div class="form-group">
						<input type="text" name="colonia" class="form-control" placeholder="Colonia" value="{{colonia}}" required>
					</div>
				</div>
				<br />
				<div class="form-inline">
					<label>Estado</label>
					<div class="form-group">
						<input type="text" name="estado" class="form-control" list="estados" value="{{estado}}" required/>
						<datalist id="estados">
							{% for est in estados %}
								<option>{{est.nombre}}</option>
							{% endfor %}
						</datalist>
					</div>
				</div>
				<br />
				<div class="form-group">
					<input type="number" name="codigoPostal" class="form-control" placeholder="Codigo Postal" value="{{codigoPostal}}" required>
				</div>
				<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-ok-circle"></span> Actualizar</button>
			</form>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
	function check() {
		if ($('input[name="password2"]').val() != $('input[name="password1"]').val()) {
			$('input[type="password"]').parent().addClass('has-error');
			return false;
		} else {
			$('input[type="password"]').parent().removeClass('has-error');
			return true;
		}
	}
	$('#datosP').submit(function (e){
		if(!check())
		{
			e.preventDefault();
		}
	});
	</script>
{% endblock %}