{% extends 'base.html' %}

{% block titulo %}
	Contacto
{% endblock %}

{% block contenido %}

	<span class="label-producto">CONTACTO</span>

	<p>&nbsp;</p>
	
	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-6">
			<form class="datosCliente" style="padding-top: 0px;">
				<h3>Informacion de Contacto</h3>
				<div class="form-group">
					<label>Nombre</label>
					<br>
					<label><a href="#">{{cont.nombre}}</a></label>
				</div>
				<div class="form-group">
					<label>Telefono</label>
					<br>
					<a href="tel:{{cont.telefono}}">{{cont.telefono}}</a></label>
				</div>
				{% if cont.facebook %}
					<a href="{{cont.facebook}}"><img width="40" src="{{STATIC_URL}}images/fb.gif" /></a>
				{% else %}
					<a href="#"><img width="40" src="{{STATIC_URL}}images/fb.gif" /></a>
				{% endif %}
				{% if cont.twitter %}
					<a href="{{cont.twitter}}"><img  width="45" src="{{STATIC_URL}}images/twitter.png" /></a>
				{% else %}
					<a href="#"><img  width="45" src="{{STATIC_URL}}images/twitter.png" /></a>
				{% endif %}
				{% if cont.direccion %}
					<div class="form-group">
						<label>Direccion</label>
						<br>
						<address>
							<a href="#">{{cont.direccion|safe}}</a></label>
						</address>
					</div>
				{% endif %}
			</form>
		</div>
		<div class="col-md-4">
			<form role="form" method="POST" class="datosCliente" style="padding-top: 14px;">
				{% if enviado %}
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Cerrar</span>
						</button>
						<strong>Mensaje Enviado!</strong>
					</div>
				{% endif %}
				{% csrf_token %}
				<div class="form-group">
					<label>Nombre</label>
					<input class="form-control" type="text" name="nombre" value="{{request.user.first_name}} {{request.user.last_name}}" required>
				</div>
				<div class="form-group">
					<label>Email</label>
					<input class="form-control" type="email" name="email" value="{{request.user.email}}" required>
				</div>
				<div class="form-group">
					<label>Mensaje</label>
					<textarea class="form-control" rows="4" name="mensaje" required></textarea>
				</div>
				<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-envelope"></span> Enviar</button>
			</form>
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>

{% endblock %}