<html>
<head>
	<title></title>
</head>
<body>
	<div style="font-family:Helvetica Neue,Arial,Helvetica,Verdana,sans-serif;font-size:14px;max-width:600px">

	<p>
		Nombre: <b>{{nombre}}</b>,<br>
		Correo: <b>{{email}}</b><br>
		Fecha: <b>{{fecha|date:'l j \d\e F Y h:i A'}}</b>
		Mensaje: <br>
	</p>
	<p>
		{{mensaje}}
	</p>

	<p>
		Administración de Auroraleds.mx<br>
		<a href="mailto:ventas@auroralds.mx" target="_blank">ventas@auroraleds.mx</a>
	</p>

</body>
</html>