{% extends 'base.html' %}

{% block titulo %}
	Mi Cuenta
{% endblock %}

{% block contenido %}

	<span class="label-producto">MI CUENTA</span>

	<p>&nbsp;</p>

	<div class="row">
		<div class="col-md-3">
			<ul class="list-menu">
 				<li><a href="#" class="prod">Informaci&oacute;n</a></li>
 				<li>
 					<a href="/mi-cuenta/">Compras</a>
 				</li>
 				<li>
 					<a href="/mi-cuenta/configuracion/">Configuracion</a>
 				</li>
 			</ul>
		</div>
		<div class="col-md-8">
			<div class="row">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>#</th><th>Fecha</th><th>Total</th><th>Estado</th><th>&nbsp;</th><th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% if not pedidos %}
							<tr>
								<td colspan="5"><center>No tienes ningun pedido hasta el momento</center></td>
							</tr>
						{% endif %}
						{% for ped in pedidos %}
							<tr class="{{ped.clase}}">
								<td>{{ped.id}}</td>
								<td><a href="/pedido/{{ped.id}}">{{ped.fecha|date:'l j \d\e F Y h:i A'}}</a></td>
								<td>${{ped.total}}</td>
								<td><span class="label label-info">{{ped.estado|upper}}</span></td>
								<td>{{ped.tipo|upper}}</td>
								<td>
									<a class="btn btn-info" href="/pedido/{{ped.id}}/">Ver Detalles</a>
								</td>
								<td>
									{% if ped.estado == 'solicitado' and ped.tipo == 'paypal' %}
										<a class="btn btn-danger" href="/pagar/pedido/{{ped.id}}/">Pagar</a>
									{% elif ped.estado == 'solicitado' and ped.tipo == 'payu' %}
										<a class="btn btn-danger" href="/pagar/pedido/payu/{{ped.id}}/">Pagar</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<center>
				{% if pages|length > 1 and pages %}
					<ul class="pagination">			
						<li><a href="{{url}}1/">&laquo;</a></li>
						{% for i in pages %}
							<li><a href="{{url}}{{i|add:1}}/">{{i|add:1}}</a></li>
						{% endfor %}
						<li><a href="{{url}}{{pages|length}}/">&raquo;</a></li>
					</ul>
				{% endif %}
			</center>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.pagination>li:nth-child({{actual|add:1}})').addClass('active');
		if( {{actual}} == 1 )
		{
			$('.pagination>li:first-child').addClass('disabled');
		}else if( {{actual}} == {{pages|length}} ){
			$('.pagination>li:last-child').addClass('disabled');
		}
	</script>
{% endblock %}