{% extends 'base.html' %}

{% block titulo %}
	FAQs
{% endblock %}

{% block contenido %}

	<span class="label-producto">FAQs</span>

	<p>&nbsp;</p>
	<div class="datosCliente">
		{{cont.faqs|safe}}
	</div>


{% endblock %}