{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<!--
	{% if banners|length > 0 %}
		<div id="carrusel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">

				{% for item in banners %}
					<div class="item{{item.clase}}">
						<img src="{{MEDIA_URL}}{{item.imagen}}" alt="{{item.titulo}}">
						<div class="carousel-caption">
							{{item.descripcion}}
						</div>
					</div>			
				{% endfor %}
				
			</div>

			<a class="left carousel-control" href="#carrusel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carrusel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	{% endif %}
-->
{% if banners|length > 0 %}

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		{% for item in banners %}
		<div class="{{item.clase}} item">
			<div class="fill" style="background-image:url('{{MEDIA_URL}}{{item.imagen}}');">
				<div class="container">
					<div class="blocky">
						<h1 class="pull-left pull-middle light-color"><span><a href="{{item.url}}">{{item.titulo}}</a></span></h1>
						<h4 class="pull-left pull-middle light-color"><span><a href="{{item.url}}">{{item.descripcion}}</a></span></h4>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
{% endif %}








<p>&nbsp;</p>

<span class="label-producto">PRODUCTOS</span>

<p>&nbsp;</p>

<div class="row">
	{% include 'menu.html' %}
	<div class="col-md-8">
		<div class="row inicio_productos">
			{% for art in masvotados %}
			<div class="col-md-4">
				<center>
					<a href="/articulo/{{art.id}}/{{art.nombre}}/">
						<img class="img-thumbnail" src="{{MEDIA_URL}}{{art.imagenes__imagen}}">
						<h5>{{art.nombre}}</h5>
					</a>
				</center>
				<br />
			</div>
			{% endfor %}
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-4">
		<div class="info_index">
			<div class="row">
				<div class="col-md-4">
					<center>
						<img src="{{STATIC_URL}}images/ent_rap.png" />
					</center>
				</div>
				<div class="col-md-6">
					<center>
						<span>ENTREGA RAPIDA</span>
						<br />
						<span>lorem ipsum</span>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="info_index">
			<div class="row">
				<div class="col-md-4">
					<center>
						<img src="{{STATIC_URL}}images/dist.png" />
					</center>
				</div>
				<div class="col-md-6">
					<center>
						<span>DISTRIBUYE</span>
						<br />
						<span>lorem ipsum</span>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="info_index">
			<div class="row">
				<div class="col-md-4">
					<center>
						<img src="{{STATIC_URL}}images/cont.png" />
					</center>
				</div>
				<div class="col-md-6">
					<center>
						<span>CONTACTANOS</span>
						<br />
						<span>lorem ipsum</span>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$.getScript('http://www.portalapp.com/bootstrap/js/bootstrap-carousel.js',function(){
	$('.carousel').carousel();
});

$('#myCarousel').on('slid',function(){
	$('.blocky').animate({marginLeft:"+=16%"},100).animate({marginLeft:"-=20%"},300).animate({marginLeft:"+=4%"},600);
})
</script>
{% endblock %}