{% extends 'base.html' %}

{% block titulo %}
	Login
{% endblock %}

{% block contenido %}
	<style type="text/css">
		.form-signin {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
			margin-bottom: 10px;
		}
		.form-signin .checkbox {
			font-weight: normal;
		}
		.form-signin .form-control {
			position: relative;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
			font-size: 16px;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[name="username"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	</style>
	
	<form class="form-signin" role="form" method="POST">
		{% csrf_token %}
		<h2 class="form-signin-heading">Iniciar Sesion</h2>
		{% if error %}
			<div class="alert alert-danger" role="alert">
				* {{error|safe}}
			</div>
		{% endif %}
		<input name="username" type="text" class="form-control" placeholder="Usuario" required autofocus>
		<input name="password" type="password" class="form-control" placeholder="Contraseña" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		<a href="/registro/" class="btn btn-lg btn-success btn-block">Registrarse</a>
		<center><a href="/reset/">¿Olvidaste tu clave?</a></center>
	</form>

{% endblock %}