{% extends 'base.html' %}

{% block titulo %}
	Distribuidor
{% endblock %}

{% block contenido %}

	<span class="label-producto">DISTRIBUIDOR</span>

	<p>&nbsp;</p>
	<div class="datosCliente">
		{{cont.distribuidor|safe}}
	</div>


{% endblock %}