		<div class="col-md-3">
			<ul class="list-menu">
 				<li><a href="#" class="prod">Productos</a></li>

 				{% for cat in categorias %}
 					<li>
 						<a href="/categoria/{{cat.id}}/{{cat.nombre}}/">{{cat.nombre}}</a>
 						<ul>
 							{% for art in arts %}
 								{% if art.id_categoria__id == cat.id %}
 									<li><a href="/articulo/{{art.id}}/{{art.nombre}}/">{{art.nombre}}</a></li>
 								{% endif %}
 							{% endfor %}
 						</ul>
 					</li>
 				{% endfor %}

 			</ul>
		</div>