{% extends 'base.html' %}

{% block titulo %}
	Pagar
{% endblock %}

{% block contenido %}

	<span class="label-producto">DATOS DE ENVIO</span>

	<p>&nbsp;</p>
	{% if not pagar %}
	<form role="form" class="datosCliente" method="POST">
	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-6">
			
				{% csrf_token %}
				<div class="form-group">
					<label>Nombre(s)</label>
					<input type="text" name="nombre" class="form-control" placeholder="Nombre(s)" value="{{nombre}}" required/>
				</div>
				<div class="form-group">
					<label>Apellidos</label>
					<input type="text" name="apellido" class="form-control" placeholder="Apellidos" value="{{apellido}}" required>
				</div>
				<div class="form-group">
					<label>Direccion</label>
					<input type="text" name="calle" class="form-control" placeholder="Calle" value="{{calle}}" required>
				</div>
				<div class="form-inline">
					<div class="form-group">
						<input type="number" name="no_exterior" class="form-control" placeholder="Numero Exterior" value="{{no_exterior}}" required>
					</div>
					<div class="form-group">
						<input type="number" name="no_interior" class="form-control" placeholder="Numero Interior" value="{{no_interior}}">
					</div>
				</div>
				<div class="form-inline">
					<div class="form-group">
						<input type="text" name="ciudad" class="form-control" placeholder="Ciudad" value="{{ciudad}}" required>
					</div>
					<div class="form-group">
						<input type="text" name="colonia" class="form-control" placeholder="Colonia" value="{{colonia}}" required>
					</div>
				</div>
				<br />
				<div class="form-inline">
					<label>Estado</label>
					<div class="form-group">
						<input type="text" name="estado" class="form-control" list="estados" value="{{estado}}" required/>
						<datalist id="estados">
							{% for est in estados %}
								<option>{{est.nombre}}</option>
							{% endfor %}
						</datalist>
					</div>
				</div>
				<br />
				<div class="form-group">
					<input type="number" name="codigoPostal" class="form-control" placeholder="Codigo Postal" value="{{codigoPostal}}" required>
				</div>
				<button name="pagar" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Continuar</button>
			
		</div>
		<div class="col-md-5">
			<h3>Forma de Pago</h3>
			<div class="radio">
				<label>
					<input type="radio" name="modo_compra" value="vendedor" checked>
					<b>Acordar con el vendedor</b>
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="modo_compra" value="paypal">
					<img src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif">
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="modo_compra" value="payu">
					<img src="{{STATIC_URL}}images/payu.png">
				</label>
			</div>
		</div>
	</div>
	</form>

	{% endif %}


{% endblock %}