{% extends 'base.html' %}

{% block titulo %}
	Pagar
{% endblock %}

{% block contenido %}

	<span class="label-producto">PAGAR</span>

	<p>&nbsp;</p>

		<center><h2><b>Se te esta redireccionando a la direccion de pago ....</b></h2></center>
		<form id="pagar_form" action="https://checkout.dineromail.com/CheckOut" method="post" target="_top">

			<input type="hidden" name="merchant" value="1799106" />
			<input type="hidden" name="country_id" value="4" />
			<input type="hidden" name="payment_method_available" value="all" />
			<input type="hidden" name="change_quantity" value="0" />
			<input type="hidden" name="header_image" value="http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/logo.png"
/>

			{% for car in carrito %}
				<input type="hidden" name="item_name_{{car.id}}" value="{{car.nombre}}">
				<input type="hidden" name="item_ammount_{{car.id}}" value="{{car.precio}}">
				<input type="hidden" name="item_quantity_{{car.id}}" value="{{car.cantidad}}">
			{% endfor %}

			<input type="submit" value="pagar">

		</form>

		<script type="text/javascript">
			//$('#pagar_form').submit();
		</script>

{% endblock %}