{% extends 'base.html' %}

{% block titulo %}
	Pagar
{% endblock %}

{% block contenido %}

	<span class="label-producto">PAGAR</span>

	<p>&nbsp;</p>

		<center><h2><b>Se te esta redireccionando a la direccion de pago ....</b></h2></center>
		<form id="pagar_form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_cart">
			<input type="hidden" name="upload" value="1">
			<!--<input type="hidden" name="business" value="EK3JVJ9JZY5FY">-->
			<input type="hidden" name="business" value="Y8BNWWC7STJ4C">
			<input type="hidden" name="currency_code" value="MXN">
			<input type="hidden" name="lc" value="MX">
			<input type="hidden" name="return" value="{{url_success}}">
			<input type="hidden" name="cancel_return" value="{{url_cancel}}">
			<input type="hidden" name="notify_url" value="{{url_notify}}">
			<input type="hidden" name="charset" value="utf-8">
			<input type="hidden" name="custom" value="{{custom_data}}">

			{% for car in carrito %}
				<input type="hidden" name="item_name_{{car.id}}" value="{{car.nombre}}">
				<input type="hidden" name="amount_{{car.id}}" value="{{car.precio}}">
				<input type="hidden" name="quantity_{{car.id}}" value="{{car.cantidad}}">
			{% endfor %}

		</form>

		<script type="text/javascript">
			$('#pagar_form').submit();
		</script>

{% endblock %}