<html>
<head>
	<title></title>
</head>
<body>
	<div style="font-family:Helvetica Neue,Arial,Helvetica,Verdana,sans-serif;font-size:14px;max-width:600px">

	<p>
		Usuario: <b>{{usuario}}</b>,<br>
		Tipo de Pago: <b>{{tipo}}</b>
	</p>
	<p>
		Direccion:<br>
		Calle: <b>{{dom.calle}}</b><br>
		No. Exterior: <b>{{dom.no_exterior}}</b><br>
		No. Interior: <b>{{dom.no_interior}}</b><br>
		Ciudad: <b>{{dom.ciudad}}</b><br>
		Colonia: <b>{{dom.colonia}}</b><br>
		Estado: <b>{{dom.estado}}</b><br>
		Codigo Postal: <b>{{dom.codigoPostal}}</b>
	</p>

	<h4 style="font-weight:bold;font-size:16px;text-decoration:none;border-bottom:2px solid rgb(96,137,207)">Resumen de su pedido</h4>

	<p>
		Fecha: {{fecha|date:'l j \d\e F Y h:i A'}}<br>
		Total de pedido: ${{total}}<br>
		<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>&nbsp;</th><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					{% for art in carrito %}
						<tr class="{{art.clase}}">
							<td><img width="100" class="img-thumbnail" src="{{MEDIA_URL}}{{art.imagen}}" /></td>
							<td><a href="/articulo/{{art.idd}}/{{art.nombre}}/">{{art.nombre}}</a></td>
							<td>${{art.precio}}</td>
							<td>{{art.cantidad}}</td>
							<td>${{art.total}}</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4"><b>Total:</b></td>
						<td><b>${{total}}</b></td>
					</tr>
				</tbody>
			</table>
	</p>

	<p>
		Atentamente,<br>
		Administración de Auroraleds.mx<br>
		<a href="mailto:ventas@auroralds.mx" target="_blank">ventas@auroralds.mx</a>
	</p>

</body>
</html>