{% extends 'base.html' %}

{% block titulo %}
	Pedido
{% endblock %}

{% block contenido %}

	<span class="label-producto">PEDIDO</span>

	<p>&nbsp;</p>
	<form>
		<h4>Fecha: <b>{{fecha|date:'l j \d\e F Y h:i A'}}</b></h4>
		<h4>Tipo de pago: <b>{{tipo|upper}}</b></h4>
		<h4>Estado: <b>{{estado|upper}}</b></h4>
		{% if estado == 'solicitado' and tipo == 'paypal' %}
			<a class="btn btn-danger" href="/pagar/pedido/{{idd}}/">Pagar</a>
		{% elif estado == 'solicitado' and tipo == 'payu' %}
			<a class="btn btn-danger" href="/pagar/pedido/payu/{{idd}}/">Pagar</a>
		{% endif %}
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>&nbsp;</th><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					{% for art in articulos %}
						<tr class="{{art.clase}}">
							<td><img width="100" class="img-thumbnail" src="{{MEDIA_URL}}{{art.imagen}}" /></td>
							<td><a href="/articulo/{{art.id}}/{{art.nombre}}/">{{art.nombre}}</a></td>
							<td>${{art.precio}}</td>
							<td>{{art.cantidad}}</td>
							<td>${{art.total}}</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4"><b>Total:</b></td>
						<td><b>${{total}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>

{% endblock %}