<html>
<head>
	<title></title>
</head>
<body>
	<div style="font-family:Helvetica Neue,Arial,Helvetica,Verdana,sans-serif;font-size:14px;max-width:600px">

	<p>
		Buen dia {{usuario}},<br>
		hemos recibido tu orden de compra, gracias por brindarnos tu confianza!<br>
	</p>

	<h4 style="font-weight:bold;font-size:16px;text-decoration:none;border-bottom:2px solid rgb(96,137,207)">Resumen de tu pedido</h4>

	<p>
		Fecha: {{fecha|date:'l j \d\e F Y h:i A'}}<br>
		Total de pedido: ${{total}}<br>
		<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>&nbsp;</th><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					{% for art in carrito %}
						<tr class="{{art.clase}}">
							<td><img width="100" class="img-thumbnail" src="{{MEDIA_URL}}{{art.imagen}}" /></td>
							<td><a href="/articulo/{{art.idd}}/{{art.nombre}}/">{{art.nombre}}</a></td>
							<td>${{art.precio}}</td>
							<td>{{art.cantidad}}</td>
							<td>${{art.total}}</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4"><b>Total:</b></td>
						<td><b>${{total}}</b></td>
					</tr>
				</tbody>
			</table>
	</p>

	<h4 style="font-weight:bold;font-size:16px;text-decoration:none;border-bottom:2px solid rgb(96,137,207)">¿Qué debo hacer ahora?</h4>

	<p>
		Si te encuentras dentro de la ciudad de Culiacan, a la brevedad nos pondremos en contacto
		contigo por este mismo medio o llamándote al teléfono registrado en tu cuenta para
		confirmar la hora y lugar de entrega del pedido.
	</p>

	<p>
		Si te encuentras fuera de la ciudad de Culiacan, será necesario confirmar el pago
		del pedido antes de que éste sea enviado.
	</p>

	<p>
		Para confirmar tu pago solo necesitas enviarnos un correo electrónico especificando
		la forma, fecha, hora y monto de tu pago; y de preferencia, enviar tu comprobante de pago escaneado
		por medio de correo electrónico (puedes enviar ésta información contestando
		este correo).
	</p>

	<p>
		<h3>IMPORTANTE</h3>
		Tendras 48 horas para efectuar el pago, en caso contrario tu pedido sera cancelado.
	</p>

	<h4 style="font-weight:bold;font-size:16px;text-decoration:none;border-bottom:2px solid rgb(96,137,207)">Formas de pago</h4>

	<p>Puedes realizar el pago de este pedido de diferentes formas.</p>

	<p>
		Si vives dentro de la ciudad de Monterrey puedes pagar tu pedido en efectivo al momento de recibir
		los productos personalmente.
	</p>

	<p>Tambien puedes realizar un depósito/transferencia utilizando la siguiente información:<br>
	</p><ul>
		<li style="list-style:none"><strong>Banco:</strong> BANCO</li>
		<li style="list-style:none"><strong>Titular:</strong> NOMBRE</li>
		<li style="list-style:none"><strong>Cuenta:</strong> CUENTA</li>
		<li style="list-style:none"><strong>CLABE:</strong> CLABE</li>
		<li style="list-style:none"><strong>Tarjeta:</strong> TARJETA</li>
	</ul>
	<p></p>

	<p>
		<span style="color:#bb4444">Nota: El paquete será entregado/enviado una vez que hayamos confirmado el pago.</span>
	</p>

	<h4 style="font-weight:bold;font-size:16px;text-decoration:none;border-bottom:2px solid rgb(96,137,207)"></h4>

	<p>
		Si tienes alguna duda o comentario, háznolo saber y nos pondremos en contacto contigo a la brevedad.
	</p>

	<p>
		Atentamente,<br>
		Administración de Auroraleds.mx<br>
		<a href="mailto:ventas@auroralds.mx" target="_blank">ventas@auroralds.mx</a>
	</p>

</body>
</html>