<html>
	<head>
		<meta charset="utf-8" />
		<title>Bienvenido {{usuario}}</title>
	</head>
	<body>
		<p>
			Buen dia {{usuario}}, te damos la bienvenida a Auroraleds.mx!
			<br>
			Ahora ya puedes realizar pedidos desde nuestro sitio utilizando tu cuenta.
		</p>
		<p>
			Si tienes alguna duda acerca de alguno de nuestros productos no dudes en enviarnos un correo a <a href="mailto:ventas@auroraleds.mx">ventas@auroraleds.mx</a> y te contestaremos a la brevedad.
			<br>
			Recuerda leer las políticas de ventas y garantías y aclarar cualquier duda que pudieras tener antes de realizar tu pedido.
		</p>
		<p>
			Agradecemos tu confianza y preferencia hacia Auroraleds.mx y esperamos poder servirte muy pronto!
		</p>
		<p>
			Atentamente,<br>
			Administración de <a href="http://auroraleds.mx/">Auroraleds.mx</a><br>		
			ventas@auroraleds.mx
		</p>
	</body>
</html>