{% extends 'base.html' %}

{% block titulo %}
	Registro
{% endblock %}

{% block contenido %}
	<style type="text/css">
		.form-signin {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
			margin-bottom: 10px;
		}
		.form-signin .checkbox {
			font-weight: normal;
		}
		.form-signin .form-control {
			position: relative;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
			font-size: 16px;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[type="email"],  .form-signin input[name="user-password"]{
			margin-bottom: -1px;
			border-radius: 0;
		}
		.form-signin input[type="text"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin>input[name="password2"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	</style>
	<form class="form-signin" role="form" method="POST">
		{% csrf_token %}
		<h2 class="form-signin-heading">Registrarse</h2>

		{% if error %}
			<div class="alert alert-danger" role="alert">
				* {{error|safe}}
			</div>
		{% endif %}

		<input name="user-username" type="text" class="form-control" placeholder="Usuario" value="{{user}}" required autofocus>
		<input name="user-email" type="email" class="form-control" placeholder="Email" value="{{email}}" required>
		<input name="user-password" type="password" class="form-control" placeholder="Contraseña" required>
		<input name="password" oninput="check(this);" minlength="4" type="password" class="form-control" placeholder="Repetir Contraseña" required>
		<br />
		<button class="btn btn-lg btn-success btn-block" type="submit">Registrarse</button>
	</form>

	{{form}}

{% endblock %}