{% extends 'base.html' %}

{% block titulo %}
	Reestablecer Contraseña
{% endblock %}

{% block contenido %}
	<style type="text/css">
		.form-signin {
			max-width: 400px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
			margin-bottom: 10px;
		}
		.form-signin .checkbox {
			font-weight: normal;
		}
		.form-signin .form-control {
			position: relative;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
			font-size: 16px;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[name="username"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	</style>
	
	<form id="datosP" class="form-signin" role="form" method="POST">
		{% csrf_token %}
		<h2 class="form-signin-heading">Reestablecer Contraseña</h2>
		{% if error %}
			<div class="alert alert-danger" role="alert">
				* {{error}}
			</div>
		{% endif %}
		<label class="">
		</label>
		<div class="form-group">
			<label>Contraseña</label>
			<input name="password1" type="password" minlength="4" oninput="check();" class="form-control" placeholder="Contraseña"/>
		</div>
		<div class="form-group">
			<label>Repetir Contraseña</label>
			<input name="password2" id="password2" minlength="4" oninput="check();" type="password" class="form-control" placeholder="Repetir Contraseña"/>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Reestablecer</button>
	</form>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
	function check() {
		if ($('input[name="password2"]').val() != $('input[name="password1"]').val()) {
			$('input[type="password"]').parent().addClass('has-error');
			return false;
		} else {
			$('input[type="password"]').parent().removeClass('has-error');
			return true;
		}
	}
	$('#datosP').submit(function (e){
		if(!check())
		{
			e.preventDefault();
		}
	});
	</script>
{% endblock %}