<html>
	<head>
		<meta charset="utf-8" />
		<title>Reestablecer Contraseña</title>
	</head>
	<body>
		<p>
			Buen dia {{usuario}},
		</p>
		<p>
			Actualmente se ha solicitado hacer un reestablecimiento de tu contraseña, para continuar con el proceso deberas acceder al siguiente enlace:
			<br>
			<a href="{{url}}">Reestablcer Contraseña</a>
		</p>
		<p>
			{{url}}
		</p>
		<p>
			En caso de no haber solicitado el reestablecmiento, ignora este mensaje.
		</p>
		<p>
			Atentamente,<br>
			Administración de <a href="http://auroraleds.mx/">Auroraleds.mx</a><br>		
			ventas@auroraleds.mx
		</p>
	</body>
</html>