<html>
	<head>
		<meta charset="utf-8" />
		<title>Reestablecer Contraseña</title>
	</head>
	<body>
		<p>
			Buen dia {{usuario}},
		</p>
		<p>
			Se te informa que tu contraseña ha sido reestablecida, satisfactoriamente.
		</p>
		<p>
			En caso de no haber solicitado el reestablecmiento, solicitamos que hagas el reestablecimiento por motivos de seguridad.
		</p>
		<p>
			Atentamente,<br>
			Administración de <a href="http://auroraleds.mx/">Auroraleds.mx</a><br>		
			ventas@auroraleds.mx
		</p>
	</body>
</html>