{% extends 'base.html' %}

{% block titulo %}
	Reestablecer Contraseña
{% endblock %}

{% block contenido %}
	<style type="text/css">
		.form-signin {
			max-width: 400px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
			margin-bottom: 10px;
		}
		.form-signin .checkbox {
			font-weight: normal;
		}
		.form-signin .form-control {
			position: relative;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
			font-size: 16px;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[name="username"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	</style>
	
	<form class="form-signin" role="form">
		<h2 class="form-signin-heading">Reestablecer Contraseña</h2>		
		<label>
			El link al que intentas acceder ha expirado.
		</label>
	</form>

{% endblock %}